# Minimum and maximum terrain height at which castle spawns.
min-terrain-height = 16
max-terrain-height = 128

# Average distance is chunks between two castles, must be at least 1.
spacing = 128

# Minimum distance is chunks between two castles, must be lower than spacing and grater or equal 0.
separation = 32

# Minimum and maximum castle size.
max-castle-size = 12
min-castle-size = 6

# Chance of spawner and chest in castle hallway. Their sum should not be bigger than 100%.
spawner-chance = 40%
chest-chance = 40%

# Custom spawner logic.
spawner-logic = {Delay:40,MaxNearbyEntities:1,MaxSpawnDelay:80,MinSpawnDelay:40,RequiredPlayerRange:10,SpawnCount:1,SpawnRange:4}
